{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ title }}
{% endblock %}

{% block body %}
	{# Syntax Emmet : article>h2{title}+p{description} #}

	<article>
        <h2>{{title }}</h2>
        {{ form_start(wishForm)}}
        {{ form_row(wishForm.title)}}
        {{ form_row(wishForm.description)}}
        {{ form_row(wishForm.author)}}

        {# Input field #}
        <div class="d-flex">
            <div class="col-sm-9">
                {{ form_row(wishForm.image) }}
            </div>
            <div class="col-sm-3">
                {% if wishForm.vars.value.image != null %}
                    <img src="{{ asset(app_images_wish_directory ~ '/' ~ wishForm.vars.value.image) }}" class="img-fluid" alt="image"/>
                    {{ form_row(wishForm.deleteImage) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(wishForm)}}
	</article>
{% endblock %}

